/* notre conteneur principal */
.article {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  gap: 20px;
}

/* element du conteneur la première colonne */
.article__div {
  flex-grow: 1;
  flex-shrink: 0;
  flex-basis: 0px;
}

/* element du conteneur la première colonne */
.article__figure {
  flex-grow: 0;
  flex-shrink: 0;
  flex-basis: 0px;
  order: -1;
  margin: 0;
}

.page__article {
  background-image: url("../images/peach-goma-august-boat-ride-swans-wallpaper-kawaii-hoshi.jpg");
  background-position: 50%;
  background-size: cover;
}

.article :nth-of-type(add) .article__figure {
}

.article__img {
  border-radius: 10px;
  box-shadow: 0 5px 5px rgba(0, 0, 0, 0.377);
}
.article__figcaption {
    font-style: italic;
}

.article__div p {
  font-size: 1rem;
}
.article__div h3 {
  font-family: "shine";
  color: #e67a00;
}

.page__titre__article {
  color: rgb(199, 113, 0);
  font-size: 3rem;
  font-weight: bold;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  text-align: center;
  font-family: "Super Crawler";
}
