/* notre conteneur principal */
.article{
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}


/* element du conteneur la première colonne */
.article__div{
    flex-grow: 1;
    flex-shrink:0 ;
    flex-basis: 300px;
}

/* element du conteneur la première colonne */
.article__figure{
    /* flex-grow: ;
    flex-shrink: ;
    flex-basis: ; */
    order: -1;
}

.article :nth-of-type(add) .article__figure{
    
}

.article__img{

}
.article__figcaption{

}

.article__div h2{

}
.article__div p{

}