.galerie{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 10px;
}

.galerie__figure{
    flex-grow: 0;
    flex-basis: 0;
    flex-shrink: 300px;
    transform: rotate(10deg);
}   

.galerie__figcaption{

}

.galerie__img{

}

.galerie__figcaption:nth-of-type(add){

}