.recherche {
    display: flex;
    justify-content: space-between;
    border-bottom: 2px solid rgb(156, 63, 0);
    background-color:rgba(250, 143, 71, 0.719);
    border-radius: 6px;
}

.recherche__input {
    background-color: transparent;
    border: none;
    display: inline-block;
    vertical-align: top;
    padding: 4px;
    color: rgb(255, 255, 255);
    width: 350px; 
}

.recherche__input:focus {
    outline: none;
}

.recherche__input::placeholder {
    color: rgb(0, 0, 0);
}

.recherche__img {
    display: inline-block;
    vertical-align: top;
    padding: 7px;
}

.hero__recherche{
    display: flex;
    flex-wrap: wrap;
    align-items: center;

}