.page__video {
  background-image: url("../images/video.png");
  background-position: 50%;
  background-size: cover;
}

.page__titre__video {
  color: rgb(199, 113, 0);
  font-size: 3rem;
  font-weight: bold;
  margin-bottom: 40px;
  font-family: "Super Crawler";
}

.video__galerie {
    display: flex;
    flex-direction: row;     
    flex-wrap: wrap;       
    justify-content: center; 
    gap: 30px;
    max-width: 1000px; 
    margin: 0 auto; 
}

.video__item {
    position: relative;
    width: 485px; 
    flex-basis: auto; 
    flex-grow: 0; 
    flex-shrink: 0; 
    padding-bottom: 300px; 
    height: 0;
    box-shadow: 0 8px 15px rgba(0, 0, 0, 0.4);
    border-radius: 8px;
}

.video__item iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: 3px solid rgb(255, 180, 0); 
    border-radius: 8px;
}

@media (max-width: 650px) {
    .video__galerie {
        grid-template-columns: 1fr; 
        gap: 20px;
    }
}